html {
    background-color: rgba(27, 38, 54, 1);
    text-align: center;
    color: white;

    --button-background-color: #6368e2;
    --button-hovered-background-color: #8a8eef;
    --button-text-color: #f5f5f5;
    --default-text-color: #333;
    --background-color: #f5f5f5;
}

body {
    margin: 0;
    color: white;
    font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif;
}

@font-face {
    font-family: "Nunito";
    font-style: normal;
    /* font-weight: 500; */
    src: local(""),
        url("assets/fonts/nunito-v16-latin-regular.woff2") format("woff2");
}

#app {
    height: 100vh;
    width: 100vw;
    background-color: var(--background-color);
}

.container {
    height: 95%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 20% 15% 15% 15% 15% 20%;
    justify-items: center;
    align-items: center;
}

.container .title {
    font-size: 2rem;
    font-weight: bold;
    color: var(--default-text-color);
}

.container .text {
    font-weight: 600;
    font-size: 1.5rem;
    color: var(--default-text-color);
}

.container select {
    font-size: 1.2rem;
    background-color: var(--button-background-color);
    color: var(--button-text-color);
    padding: 0.5rem;
    width: 13rem;
    height: 2.8rem;
    border-radius: 0.5rem;
    border: none;
}

.container .openDirectory,
.organize {
    font-size: 1.3rem;
    color: var(--button-text-color);
    background-color: var(--button-background-color);
    padding: 0.5rem;
    width: 4rem;
    height: 2.8rem;
    margin: 0.5rem;
    border-radius: 0.5rem;
    border: none;
}

.container .openDirectory {
    width: 8rem;
}

.container .openDirectory:hover,
.organize:hover {
    background-color: var(--button-hovered-background-color);
}